/* ==========================================================================================================
    Normal Mode and General Window Changes
   ========================================================================================================== */

/* Color variables for browser, non-private mode, changed values have: "!important" added to them */
#browser {
  --colorBg: #191e22 !important;
  --colorFgIntense: #35444e !important;
  --colorAccentBg: #28343c !important;
  --colorAccentBgDark: rgba(0, 0, 0, 0.19) !important;
}

/* uncertain, need to review*/
.color-behind-tabs-off.address-top .toolbar-mainbar:after,
.color-behind-tabs-on.address-top .toolbar-mainbar:after {
  background-color: transparent;
}
