/* Color variables for browser, private mode, changed values have: "!important" added to them */
#browser.theme-id-dcb5514e-bf63-4de9-bbb6-f4e594d69658 {
  /* --colorBg: #161b1f !important;
  --colorFgIntense: #913d65 !important;
  --colorAccentBg: #6b2d4a !important;
  --lightColorAccent: #d45893;
  --selectedText: #f569acfa;
  --newTabHoverColor: rgba(246, 0, 91, 0.28); */
}

/* Make the address bar blend in with the background */
#browser.theme-id-dcb5514e-bf63-4de9-bbb6-f4e594d69658 .mainbar .UrlBar-AddressField,
#browser.theme-id-dcb5514e-bf63-4de9-bbb6-f4e594d69658 .mainbar .searchfield {
  background-color: var(--colorAccentBg);
  border-color: var(--colorAccentBg);
  color: var(--colorAccentFg) !important;
  fill: var(--colorFg);
}

/* Highlight the whole address bar on hover */
#browser.theme-id-dcb5514e-bf63-4de9-bbb6-f4e594d69658 .mainbar .UrlBar-AddressField:hover,
#browser.theme-id-dcb5514e-bf63-4de9-bbb6-f4e594d69658 .mainbar .searchfield:hover {
  background-color: var(--colorFgIntense);
  border-color: var(--colorFgIntense);
}

/* Give a slight border around address bar to show focus */
#browser.theme-id-dcb5514e-bf63-4de9-bbb6-f4e594d69658 .mainbar .UrlBar-AddressField:focus-within {
  background-color: var(--colorAccentBg);
  border-color: var(--lightColorAccent);
  box-shadow: unset;
}

/* Remove background from private mode indicator */
.UrlBar-AddressField .private-window-indicator {
  background-color: unset;
  padding-left: 5px;
}

/* .private .UrlBar-AddressField .pageload.progressing,
.private .UrlBar-AddressField .pageload.progressing .pageload-ticker {
  color: var(--colorAccentFg) !important;
} */

/* Color highlighted text in the address bar to match the border */
#browser.theme-id-dcb5514e-bf63-4de9-bbb6-f4e594d69658 .UrlBar-UrlField.url.vivaldi-addressfield::selection {
  background-color: var(--selectedText);
  color: var(--colorAccentBg);
}

/* Make new tab button blend less with active tab */
#browser.theme-id-dcb5514e-bf63-4de9-bbb6-f4e594d69658 .toolbar .button-toolbar.newtab:hover {
  background-color: var(--newTabHoverColor);
}
