#tabs-tabbar-container.bottom {
  order: -1;
  border-top: none;
  padding-bottom: 0px !important;
}

/* bookmarks bar above tabs */
.bookmark-bar {
  order: -2;
}

.toolbar.UrlBar {
  order: -3;
}

/* corner rounding */
.tabs-bottom .tab-position .tab {
  border-top-left-radius: var(--radiusHalf);
  border-top-right-radius: var(--radiusHalf);
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

/* Fix Fillets - for if your Vivaldi theme has corner rounding*/
.tabs-bottom .tab.active:not(.marked):not(.tab-mini):before {
  top: unset;
  bottom: 0;
  -webkit-mask-image: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 70%, #000 73%);
}
.tabs-bottom .tab.active:not(.marked):not(.tab-mini):after {
  top: unset;
  bottom: 0;
  -webkit-mask-image: radial-gradient(circle at 100% 0, rgba(0, 0, 0, 0) 70%, #000 73%);
  transform: unset;
}

/* tab group indicators*/
.tabs-bottom .tab-strip .tab-group-indicator {
  bottom: 28px !important;
}

/* Remove line between address bar and bookmark bar */
.address-top .toolbar-mainbar:after {
  content: unset;
}

/* Remove line between bookmark bar and tabs */
.bookmark-bar {
  border-bottom-width: 0px !important;
}

.bookmark-bar {
  background-color: var(--colorAccentBg);
}
.color-behind-tabs-off .bookmark-bar button {
  background-color: var(--colorAccentBg);
}

.color-behind-tabs-on .bookmark-bar {
  background-color: var(--colorBg);
}
.color-behind-tabs-on .bookmark-bar button {
  background-color: var(--colorBg);
}

/* Position 2nd tab bar below regular tab bar */
#tabs-subcontainer.bottom {
  order: unset; /* this can also be set to a value of 2 for the same effect */
}
