.bookmark-bar:after {
  content: "";
  position: absolute;
  top: 47px;
  width: 100%;
  height: 46px;
  background-size: 530px;
  background-image: url("https://i.imgur.com/GQab4RT.png");
  z-index: 1;
}
