/* == Startpage Navigation Mod - made by nomadic on Vivaldi Forums == */
/* Config variables for Startpage Navigation Mod */
:root {
  --startpageNavBtnPrimary: #ccc;
  --startpageNavBtnSecondary: #000;
  --startpageNavBtnInactive: transparent;
  --startpageNavBtnRounding: 14px;
  --startpageNavBtnHeight: 23px;
  --startpageNavBtnMargin: 10px;
  --startpageNavBackground: unset;
  --startpageNavPaddingOnTop: 25px;
  --startpageNavPaddingOnBottom: 25px;
  --startpageNavTextShadow: 0 0 2px var(--startpageNavBtnSecondary), 0 0 3px var(--startpageNavBtnSecondary), 0 0 5px var(--startpageNavBtnSecondary);
  --startpageNavIconShadow: drop-shadow(0 0 4px var(--startpageNavBtnSecondary));
}

/* Remove Startpage Nav Bar background color and shadow from bottom */
.startpage .startpage-navigation {
  background-color: unset;
  background: var(--startpageNavBackground);
  box-shadow: unset;
  padding-top: var(--startpageNavPaddingOnTop);
  /* *BUG-FIX: to show dial shadow in top row */
  padding-bottom: calc(var(--startpageNavPaddingOnBottom) - 2px);
  min-height: unset;
}

/* Remove background from folder nav */
.startpage .startpage-folder-navigation button {
  background-color: unset;
}

/* Format buttons for Startpage Nav Bar */
.startpage .startpage-navigation .button-startpage,
.startpage .startpage-folder-navigation .button-startpage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--startpageNavBtnHeight);
  min-height: unset;
  border-radius: var(--startpageNavBtnRounding) !important;
  border-bottom-width: unset;
  border: 1.2px solid var(--startpageNavBtnPrimary);
  background-color: var(--startpageNavBtnInactive);
  color: var(--startpageNavBtnPrimary);
  margin: 0 var(--startpageNavBtnMargin) !important;
  text-shadow: var(--startpageNavTextShadow);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  font-size: 11px;
  font-weight: 500;
  -webkit-mask-image: unset;
}

/* On hover or active class fill in background for Startpage Nav Bar buttons*/
.startpage .startpage-navigation .button-startpage.active,
.startpage .startpage-navigation .button-startpage:hover,
.startpage .startpage-folder-navigation .button-startpage:hover {
  color: var(--startpageNavBtnSecondary);
  background-color: var(--startpageNavBtnPrimary);
  text-shadow: 0 0 0.5px var(--startpageNavBtnSecondary);
}

/* Format icons for Startpage Nav Bar buttons */
.startpage .startpage-navigation .button-startpage svg {
  height: 2.1em;
}
.startpage .startpage-navigation .button-startpage svg,
.startpage .startpage-folder-navigation .button-startpage svg {
  color: var(--startpageNavBtnPrimary);
  filter: var(--startpageNavIconShadow);
  width: auto;
}
.startpage .startpage-navigation .button-startpage.add-set svg {
  margin: 0;
  /* *BUG-FIX: Add button svg has set height/width that break alignment*/
  height: 16px;
}

/* On hover or active class remove shadow and change icon color for Startpage Nav Bar buttons*/
.startpage .startpage-navigation .button-startpage.active svg,
.startpage .startpage-navigation .button-startpage:hover svg,
.startpage .startpage-folder-navigation .button-startpage:hover svg {
  color: var(--startpageNavBtnSecondary);
  filter: unset;
}

/* Fix for speed dial folder back button icon position */
button.button-startpage.up-level svg {
  position: unset;
  margin: 0 4px;
}
button.button-startpage.up-level span {
  display: flex;
}
.button-startpage.up-level {
  padding: 0 14px 0 6px;
}

/* Center the speed dial folder back button */
.startpage .startpage-folder-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Remove border between speed dial folders and internal pages for Startpage Nav Bar  */
.startpage .startpage-navigation .startpage-navigation-group:last-of-type {
  border: unset;
}

/* Remove color gradient after Startpage Nav Bar buttons */
button.button-startpage:after {
  content: unset;
}

/* Make new speed dial folder add button smaller */
.startpage .startpage-navigation .button-startpage.add-set {
  padding-left: 1px;
  padding-right: 1px;
  min-width: 27px;
}

/* Fill the new speed dial add button icon correctly */
button.button-startpage.add-set svg path {
  fill: var(--startpageNavBtnPrimary);
}
button.button-startpage.add-set:hover svg path {
  fill: var(--startpageNavBtnSecondary);
}

/* Remove gap from the top of the speed dial items */
.speeddial {
  margin-top: 0;
  /* *BUG-FIX: to show dial shadow in top row */
  padding-top: 2px;
}

/* Fix search enabled spacing */
.sdwrapper .iconmenu-container.searchfield {
  margin: 0px auto 25px;
}

/* Adjust the size of the notes navigation icon */
.startpage .startpage-navigation .button-startpage[data-id="notes"] svg {
  transform: scale(1.45);
}
